<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ question }}</title>
</head>
<body>
    <h1>{{ question }}</h1>
    <div>{{ question.text }}</div>
    <hr>
    <ul>
    {% for answer in question.answer_set.all %}
        <li>{{ answer }}</li>
    {% endfor %}
    </ul>
    <hr>
    <form method="post" action="{{ question.get_url }}">
        <fieldset>
{% csrf_token %}
{{ form.as_p }}
        </fieldset>
        <button type="submit">Ответить</button>
    </form>
    <hr>
    <div><a href="/ask/">Ask a new question</a></div>
</body>
</html>